#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=USB HID Game Controller service
Documentation=man:agetty(8) man:systemd-getty-generator(8)
After=systemd-user-sessions.service rc-local.service usb-gadget.service

[Service]
ExecStartPre=/etc/gadget/core/letux-gadget.sh add hid
Exec=/bin/hidd
ExecStopPost=/etc/gadget/core/letux-gadget.sh remove hid
Type=idle
Restart=always
RestartSec=0
UtmpIdentifier=%I
KillMode=process

[Install]
WantedBy=getty.target
DefaultInstance=%I
