#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=USB HID Game Controller service
Documentation=THIS IS BROKEN
After=systemd-user-sessions.service rc-local.service usb-gadget.service

[Service]
# ExecStartPre=/etc/gadget/core/letux-gadget.sh add hid keyboard
# ExecStartPre=/etc/gadget/core/letux-gadget.sh add hid gamepad
ExecStartPre=/etc/gadget/core/letux-gadget.sh add hid joystick
ExecStartPre=/etc/gadget/core/letux-gadget.sh add hid mouse
# FIXME: make this dynamic and handle 2-4 hid channels
# Exec=/usr/bin/mipsel-linux-gnu/hidd /dev/input/left /dev/ttyHID0
ExecStopPost=/etc/gadget/core/letux-gadget.sh remove hid
Type=idle
Restart=always
RestartSec=0
UtmpIdentifier=%I
KillMode=process

[Install]
WantedBy=getty.target
DefaultInstance=%I
