# Rules for detecting game controller insertion/removal

SUBSYSTEM=="input", KERNEL=="event[0-9]*", ATTRS{modalias}=="input:*-e0*,5,kramlsfw", RUN+="/etc/udev/rules.d/retrode3.sh"
